.main-info .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  width: var(--container-width);
  align-items: center;
}
.absolute-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.absolute-title h3 {
  font-size: 10em;
  font-weight: bold;
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
}
.main-info img {
  max-width: 100%;
  align-items: flex-end;
}
h1 {
  font-weight: bold;
}
.main-info span {
  color: var(--alt-color);
}
.main-info p {
  margin-bottom: 1em;
}
.btn-info {
  background-color: var(--primary-color);
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}
.btn-info:hover {
  background-color: var(--alt-color);
}
.overlay-section {
  background-image: url(../img/IMAGEN-LATERIAL-PAGIA-productos-en-inventario.png);
  background-size: cover;
  background-attachment: fixed;
}
.overlay {
  height: 67vh;
  background-color: var(--overlay);
}

.overlay .container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.products {
  height: 80vh;
  width: 100vw;
}
.product-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
  padding-top: 2em;
}
.divider {
  width: 200px;
  height: 5px;
  background-color: var(--alt-color);
  margin: 0% auto;
}

.carousel {
  height: 80vh;
  margin: 0% auto;
}
.carousel .carousel-item {
  width: 500px;
}
.carousel .carousel-item img {
  width: 700px;
  height: 500px;
}
